<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <p>Please don't change! Unless you know what you're doing</p>
    <%= f.label :id %>
    <%= f.number_field :id %>
  </div>
  <p>I'm sorry, not able to change answers and answer scores</p>
  <div class="field">
    <%= f.label :answer_type %><br />
    <%= f.select :answer_type, ["mc", "cash"] %>
  </div>
  <div class="field">
    <%= f.label :aspect %><br />
    <%= f.collection_select(:aspect_id, Aspect.all, :id, :title, {prompt: "select aspect"}) %>
  </div>
  <div class="field">
    <%= f.label :indicator %><br />
    <%= f.collection_select(:indicator_id, Indicator.all, :id, :title, {prompt: "select indicator"}) %>
  </div>
  <div class="field">
    <p>Unable to use decimal, use integer</p>
    <%= f.label :factor %><br />
    <%= f.number_field :factor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
