<h1>Listing questions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Answers</th>
    <th>Answer scores</th>
    <th>Answer type</th>
    <th>Score</th>
    <th>Indicator</th>
    <th>Factor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @questions.each do |question| %>
  <tr>
    <td><%= question.title %></td>
    <td><%= question.answers %></td>
    <td><%= question.answer_scores %></td>
    <td><%= question.answer_type %></td>
    <td><%= question.score %></td>
    <td><%= question.indicator %></td>
    <td><%= question.factor %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question', new_question_path %>
