<h1>Listing results</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Telephone</th>
    <th>Company</th>
    <th>Answers</th>
    <th></th>
    <th></th>
  </tr>

<% @results.each do |result| %>
  <tr>
    <td><%= result.email %></td>
	<td><%= result.contact_name %></td>
	<td><%= result.tel %></td>
	<td><%= result.company_name %></td>
	<td><%= result.answers.to_json %></td>
  </tr>
<% end %>
</table>

<br />