<div class="page">
			<div class="green-cover"></div>
			<div class="title-box"><h1>Analyserapport Netwerkbeheer</h1></div>
			<div class="cover-logo"></div>
			<div class="kracht"><h4>Uw kracht achter de schermen</h4></div>
		</div>

		<div class="page">
			<h2>Contact</h2>
			<div class="contact-container">
				<h3>Sterknetwerk B.V.</h3>
				<dl>
					<dd>Postbus 334 </dd>
					<dd>5280AH Boxtel </dd>
					<br/>
					<dd>St. Lambertusweg 52 </dd>
					<dd>5291AC Gemonde </dd>
					<br/>
					<dd>073-5510565</dd>
					<dd>info@sterknetwerk.nl </dd>
					<br/>
					<dd>KvK 's-Hertogenbosch 5139 85 32</dd>
				</dl>
				<div class="spacer"></div>
				<h3 id="company-name"><%= @company_name %></h3>
				<dl>
					<dd id="client-name"><%= @result.contact_name %></dd>
					<br/>
					<dd id="client-tel"><%= @result.tel %></dd>
					<br/>
					<dd id="client-email"><%= @result.email %></dd>
				</dl>
			</div>
			<div style="clear:both"></div>
			<div class="footer"><div class="footer-bar"></div></div>
		</div>

		<%  @aspects.each_with_index do |aspect,aspect_i| %>
			<% if aspect.answer_type == "mc" && !@result.aspects.nil? && (@result.aspects.include? aspect_i) %>
				<div class="page">
					<h2><%= aspect.title %></h2>
					<% aspect.indicators.each do |indicator| %>
						<div style="clear:both"></div>
						<div class="aspect-image" style="<%= image_name_to_css(indicator.image_name) %>;"><div class="passfail <%= indicator.pass(@result) ? "pass" : "fail" %>"></div></div>
						<div class="aspect-text">
							<h3><%= indicator.title %></h3>
							<p><%= indicator.description %></p>
						</div>
					<% end %>
					<div style="clear:both"></div>
					<div class="footer"><div class="footer-bar"></div></div>
				</div>
			<% end %>
		<% end %>


		<%  @aspects.each_with_index do |aspect,aspect_i| %>
			<% if aspect.answer_type == "cash" && !@result.aspects.nil? && (@result.aspects.include? aspect_i) %>	
				<div class="page">
					<h2>Kosten</h2>
					<div class="cost-container">
						<h3 id="huidige-kosten-name">Huidige kosten:</h3>
						<span class="huidige-kosten"><%= number_to_euro(aspect.get_client_cost(@result)) %></span>
						<h3 id="sn-kosten">Kosten SterkNetwerk:</h3>
						<span class="sn-kosten"><%= number_to_euro(aspect.get_sterknetwerk_cost(@result)) %></span>
						<h3 id="besparing">U bespaart:</h3>
						<span class="besparing"><%= number_to_euro(aspect.get_client_cost(@result) - aspect.get_sterknetwerk_cost(@result)) %></span>
					</div>
					<div style="clear:both"></div>
					<div class="footer"><div class="footer-bar"></div></div>
				</div>
			<% end %>
		<% end %>

		<div class="page">
			<div class="handshake"></div>
			<div class="greenbox">
				<h3 class="i1">Consultancy</h3>
				<p>We zijn tijdelijk of permanent inzetbaar voor specialistisch advies en scholing op het gebied van ICT.</p>
			</div>
			<div class="greenbox">
				<h3 class="i1">Helpdesk</h3>
				<p>Elke minuut offline is er &eacute;&eacute;n teveel. Daarom lossen we problemen direct en zonder extra kosten op.</p>
			</div>
			<div class="greenbox">
				<h3 class="i1">Netwerkbeheer</h3>
				<p>Een goede netwerkbeheerder helpt u tijd-, efficiency- en prestatiewinst met uw netwerk te behalen.</p>
			</div>
			<div class="greenbox">
				<h3 class="i1">Werkplekbeheer</h3>
				<p>Een standaard werkplek bestaat niet. Daarom biedt Sterknetwerk, sterk maatwerk op de werkplek.</p>
			</div>
			<div class="lastbox"></div>
			<div class="disclaimer">
				<p>Dit analyserapport is gebaseerd op een kennismakingsgesprek en is een globale afspiegeling van de huidige situatie binnen uw organisatie. Wilt u inzoomen op bepaalde aspecten van uw organisatie die uit dit rapport voortkomen; neem dan contact op met Sterknetwerk via 073-5510565. Aan dit rapport kunnen geen rechten worden ontleend.</p>
			</div>
			<div class="cover-logo"></div>
			<div class="kracht"><h4>Uw kracht achter de schermen</h4></div>
		</div>