<h1>Listing aspects</h1>

<table>
  <tr>
    <th>Title</th>
    <th>ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @aspects.each do |aspect| %>
  <tr>
    <td><%= aspect.title %></td>
    <td><%= aspect.id %></td>
    <td><%= link_to 'Show', aspect %></td>
    <td><%= link_to 'Edit', edit_aspect_path(aspect) %></td>
    <td><%= link_to 'Destroy', aspect, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Aspect', new_aspect_path %>
